:host.cesler-web-app {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/*
div {
    padding: 1rem;
    padding-right: 56px;
}


.demo-buttons {
    button {
        margin-right: 8px;
    }
}

.example-spacer {
    flex: 1 1 auto;
  }

  .universal-viewport {
    height: 100px;
    border: 1px solid black;
  }
*/
